@import '../../../../assets/styles/variables';

.background-content {
    position: relative;
    width: 600px;
    height: 500px;
    background-color: $whiteGreen;
    box-shadow: 1px 2px 5px $inactiveItem;

    .table-top-row {
        position: absolute;
        top: -11px;
        left: 50%;
        transform: translateX(- 50%);
        width: 568px;
        height: 22px;
        background-color: $white;
        font-size: 11px;
        box-shadow: 2px 2px 2px $inactiveItem;
        color: $inputGreen;
        font-weight: 100;

        .column {
            padding-left: 8px;
            line-height: 22px;

            &.top-left {
                border-right: 1px solid $lineGreen;
            }

            &.top-right {
                border-left: 1px solid $lineGreen;
            }
        }
    }
}

.items-list {
    position: absolute;
    left: 16px;
    top: 20px;
    color: $darkGreen;
    background-color: $white;

    .list-item {
        position: relative;
        background-color: $white;
        height: 32px;
        width: 584px;
        font-weight: 200;
        font-size: 18px;
        line-height: 32px;
        z-index: 2;

    }
}

.left-column {
    margin: 0;
    padding: 0;
    border-right: 1px solid $lineGreen;
    box-shadow: 2px 0px 2px $inactiveItem;
}

.right-column {
    width: calc( 30% - 9px);
    padding: 0;
    margin: 0;
    border-left: 1px solid $lineGreen;
    box-shadow: -2px 0px 2px $inactiveItem;
    color: $lastField;
}

.content {
    position: relative;
    padding-left: 8px;
}

.euro-sign {
    position: absolute;
    left: 2px;
    line-height: 32px;
}

.under-line {
    position: absolute;
    top: 8px;
    left: 12px;
    background-color: $darkGreen;
    width: 620px;
    height: 32px;
    z-index: 1;

    .taper-effect {
        background: none;
        transform: rotate(135deg);
        width: 0;
        height: 0;
        position: absolute;
        bottom: 10px;
        right: -22px;
        border: 22px solid transparent;
        border-right: 22px solid $backgroundGreen;
        z-index: 2;
    }
}

.pointer-left {
    background: none;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -8px;
    left: 0;
    border: 8px solid transparent;
    border-left: 8px solid $whiteGreen;
    z-index: 2;
}

.pointer-right {
    background: none;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -32px;
    border: 16px solid transparent;
    border-left: 16px solid $white;
    z-index: 2;
}