$white: #ffffff;
$whiteGreen: #eff8ef;
$backgroundGreen: #caeacc;
$connectorGreen: #a5dca9;
$inputGreen: #9dc69e;
$darkHighlightGreen: #2d5e2d;
$darkGreen: #1f471f;

$inactiveItem: #9eb29f;
$buyButton: #5cbe62;
$buyText: #7efc7e;
$cancelButton: #893434;
$cancelText: #f97878;