<div class="filter-container">
  <div class="filter-title">F I L T E R</div>

  <div class="volume-filter">
    <div class="tag">CO2 V O L U M E</div>
    <input type="text" class="input-field"/>
    <input type="range" class="input-slider"/>
    <div class="buttons-container">
      <div class="filter-button lower-than">&lt;</div>
      <div class="filter-button equal">=</div>
      <div class="filter-button higher-than">&gt;</div>
    </div>
  </div>

  <div class="price-filter">
    <div class="tag">P R I C E</div>
    <input type="text" class="input-field"/>
    <input type="range" class="input-slider"/>
    <div class="buttons-container">
      <div class="filter-button lower-than">&lt;</div>
      <div class="filter-button equal">=</div>
      <div class="filter-button higher-than">&gt;</div>
    </div>
  </div>

  <div class="connect-submit"></div>
  <div class="submit-container">
    <div class="submit-button">S U B M I T</div>
  </div>
</div>