<div class="details-container" *ngIf="this.inputData[0]">
  <div class="top-triangle"></div>
  <div class="middle-block"></div>
  <div class="bottom-triangle"></div>

  <div class="details-header">
    <div class="content">BUYING</div>
  </div>

  <div class="details-information">
    <div class="details-content">
      <div class="top-div">
        <div class="category">Total Price:</div>
        <div class="data">
          &#8364; {{this.getSpecificData[ this.inputData[1] ].price * this.getSpecificData[ this.inputData[1] ].volume}}
        </div>
      </div>
      <div class="middle-div">
        <div class="category">Market: </div>
        <div class="data">
          {{this.getSpecificData[ this.inputData[1] ].price * this.getSpecificData[ this.inputData[1] ].market}}
        </div>
      </div>
      <div class="bottom-div">
        <div class="category">Company: </div>
        <div class="data">
          {{this.getSpecificData[ this.inputData[1] ].user}}
        </div>
      </div>
    </div>
    <div class="details-image">foto<div>
  </div>

  <div class="buttons-container">
    <div class="details-button cancel" (click)="buttonClicked('cancel')">C A N C E L</div>
    <div class="details-button buy" (click)="buttonClicked('buy')">B U Y</div>
  </div>

</div>
