<div class="new-container">
  <div class="new-title">P R O F I L E</div>

  <div class="amount-filter">
    <div class="tag">show B U Y</div>
    <div class="slider-container"></div>
    <div class="onoff-container">
      <div class="on">ON</div>
      <div class="off">OFF</div>
    </div>
    <input type="range" class="input-slider"/>
  </div>

  <div class="price-filter">
    <div class="tag">show S E L L</div>
    <div class="slider-container"></div>
    <div class="onoff-container">
      <div class="on">ON</div>
      <div class="off">OFF</div>
    </div>
    <input type="range" class="input-slider"/>
  </div>
</div>