@import "../../../../assets/styles/variables";

.new-container {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 216px;
    height: 300px;
    background-color: $whiteGreen;
    box-shadow: 2px 2px 2px $inactiveItem;

    .connect-submit {
        z-index: -1;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 48px;
        background-color: $whiteGreen;
        box-shadow: 2px 2px 2px $inactiveItem;
    }

    .submit-container {
        border: 1px solid $connectorGreen;
        position: absolute;
        bottom: -80px;
        left: 50%;
        transform: translateX(-50%);
        width: 216px;
        height: 60px;
        background-color: $whiteGreen;
        box-shadow: 2px 2px 2px $inactiveItem;

        .submit-button {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            line-height: 32px;
            font-size: 24px;
            font-weight: 100;
            text-align: center;
            color: $white;
            background-color: $darkGreen;
            box-shadow: 2px 1px 2px $darkGreen;
            z-index: 1;
            border-radius: 6px;
            height: 32px;
            width: 175px;

            &:hover {
                color: $white;
                background-color: black;
            }

            &:active {
                color: $darkGreen;
                background-color: $white;
            }
        }
    }

    .slider-container {
        position: absolute;
        top: 40px;
        left: 24px;
        border: none;
        outline: none;
        background-color: none;
        border: 2px solid $inputGreen;
        font-size: 14px;
        font-weight: 200;
        padding-top: 8px;
        width: 175px;
        height: 90px;
        color: $darkGreen;
    }

    .input-slider {
        position: absolute;
        top: 88px;
        left: 34px;
        width: 160px;
        margin: 0;
        padding: 0;
    }

    .onoff-container {
        position: absolute;
        top: 64px;
        left: 34px;
        width: 160px;
        height: 18px;
        margin: 0;
        padding: 0;
        color: $darkGreen;
        font-size: 18px;
        font-weight: 300;

        .on {
            position: absolute;
            left: 0;
            width: 50%;
            border-right: 2px solid $darkGreen;
        }

        .off {
            position: absolute;
            right: 0;
        }
    }

    .amount-filter {
        position: absolute;
        top: 0;
        left: 0;
    }

    .price-filter {
        position: absolute;
        top: 150px;
        left: 0;
    }

    .new-title {
        position: absolute;
        top: -11px;
        left: 50%;
        transform: translateX(- 50%);
        width: 184px;
        height: 22px;
        background-color: $white;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        box-shadow: 2px 2px 2px $inactiveItem;
        color: $inputGreen;
        font-weight: 100;
    }

    .tag {
        position: absolute;
        height: 22px;
        width: 100px;
        font-weight: 100;
        font-size: 11px;
        border-radius: 3px;
        line-height: 22px;
        padding-left: 8px;
        color: $white;
        background-color: $darkGreen;
        box-shadow: 1px 1px 2px $darkGreen;
        z-index: 2;
        top: 26px;
        left: 16px;
    }

    .buttons-container {
        position: absolute;
        top: 104px;
        left: 24px;
        width: 175px;
        height: 32px;
        white-space: nowrap;
        display: flex;
        align-items: center;

        .filter-button {
            display: inline-block;
            background-color: $darkGreen;
            color: $white;
            height: 100%;
            margin: 0;
            padding: 0;
            line-height: 32px;
            font-size: 24px;
            font-weight: 200;
            text-align: center;
            box-shadow: 2px 1px 2px $darkGreen;
            z-index: 1;
            white-space: normal;

            &.lower-than {
                width: 33%;
                border-bottom-left-radius: 6px;
                border-top-left-radius: 6px;
            }

            &.equal{
                width: 34%;
                line-height: 34px;
                height: 110%;
                background-color: $darkHighlightGreen;
                box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.5);
                z-index: 2;
                border-radius: 3px;
            }

            &.higher-than{
                width: 33%;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }

            &:hover {
                color: $white;
                background-color: black;
            }

            &:active {
                color: $darkGreen;
                background-color: $white;
            }
        }
    }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 50%;
  height: 40px;
  margin-top: -4px;
  background-color: $inputGreen;
  box-shadow: 1px 1px 1px $darkGreen;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    background-color: $darkGreen;
    width: 100%;
    height: 32px;
    border-radius: 4px;
}