<div class="background-content">

  <div class="container table-top-row">
    <div class="col-3 column top-left">CO2 V O L U M E</div>
    <div class="col-4 column">P R I C E</div>
    <div class="col-3 column top-right">O F F E R I N G D A T E</div>
  </div>

  <div class="items-list">
    <div class="container list-item">
      <div class="col-3 left-column">
        <div class="content">Amount</div>
      </div>
      <div class="col-4 middle-column">
        <div class="content">
          <div class="euro-sign">&#8364;</div>
          <div class="content">Money</div>
        </div>
      </div>
      <div class="col-3 right-column">
        <div class="content">Date</div>
      </div>
    </div>
    <div class="pointer-right"></div>
    <div class="under-line">
      <div class="pointer-left"></div>
    </div>
    <div class="active-line"
      (mouseenter)="this.leftBuy[0] = '20px'"
      (mouseleave)="this.leftBuy[0] = '-48px'"
    >
      <div class="buy" [ngStyle]="{left: this.leftBuy[0]}">CANCEL </div>
      <div class="taper-effect"></div>
    </div>

    <app-company-buy-details></app-company-buy-details>

  </div>

</div>