<div class="new-container">
  <div class="new-title">C R E A T E</div>

  <div class="amount-filter">
    <div class="tag">A M O U N T</div>
    <input type="text" class="input-field"/>
    <input type="range" class="input-slider"/>
  </div>

  <div class="price-filter">
    <div class="tag">P R I C E</div>
    <input type="text" class="input-field"/>
    <input type="range" class="input-slider"/>
  </div>

  <div class="connect-submit"></div>
  <div class="submit-container">
    <div class="submit-button">S U B M I T</div>
  </div>
</div>