<div class="top-header">

  <div class="left-side-header">
    <img src="/assets/images/company_icon.svg" class="left-image"/>

    <div class="page-information">
      <div class="page-information-above">
        <div class="content">BUYING</div>
      </div>
      <div class="page-information-under">C O M P A N Y account</div>
    </div>
  </div>


  <div class="right-side-header">
    <div class="menu-item">OVERVIEW</div>
    <div class="menu-item ">SELLING</div>
    <div class="menu-item active">BUYING</div>
    <div class="menu-item">TRANSACTIONS</div>
  </div>

  <div class="right-side-taper"></div>
</div>
