<div class="top-header">
  <div class="left-side-header">
    <img src="/assets/images/company_icon.svg" class="left-image"/>

    <div class="page-information">
      <div class="page-information-above">
        <div class="content">{{this.headerTitle}}</div>
      </div>
      <div class="page-information-under">C O M P A N Y account</div>
    </div>
  </div>

  <div class="right-side-header">
    <div id="menu-item1"
      (click)="changePage('overview')"
      [ngClass]="this.headerStyles.profile">
      PROFILE
    </div>
    <div class="menu-item2"
      (click)="changePage('selling')"
      [ngClass]="this.headerStyles.selling">
      SELLING
    </div>
    <div id="menu-item3"
      (click)="changePage('buying')"
      [ngClass]="this.headerStyles.buying">
      BUYING
    </div>
    <div id="menu-item4"
      (click)="changePage('transactions')"
      [ngClass]="this.headerStyles.transactions">
      TRANSACTIONS
      </div>
  </div>

  <div class="shadow-hider"></div>
  <div class="right-side-taper"></div>
</div>
<div class="connectors-background">
  <div class="main-block">
    <div class="top-slope"></div>
    <div class="bottom-slope"></div>
  </div>
</div>
