.left-side-header {



  .left-image {


  }

  .page-information {

    .page-information-above {

    }

    .page-information-under {

    }

  }

}

.menu-item {

  display: inline-block;
  font-size: 50px;
  color: green;
  margin: 0px 15px 30px 15px;

}
